<header class="main-header">
  <div class="logo-wrapper">
    <img src="https://res.cloudinary.com/djq3aojia/image/upload/v1689791695/BYTE%20branding/Logo_rqiw2c.svg">
    <span>BYTE</span>
  </div>
  <nav class="main-nav">
    <ul class="nav-list">
      <li><a href="/" class="inactive-link" id="homeLink">Home</a></li>
      <li><a href="/recipes" class="inactive-link" id="recipesLink">Recipes</a></li>
      <li><a href="/recipes/categories" class="inactive-link" id="catergoriesLink">Categories</a></li>
      <li><a href="/recipes/new" class="inactive-link" id="submitRecipeLink">Submit Recipe</a></li>
    </ul>
  </nav>
  <search class="main-search">
    <form action="" class="search-form">
      <input type="search" name="" id="" placeholder="Search">
    </form>
  </search>
  <% if(locals.currentUser) {%>
    <a href="/logout" class="button-2-outline login-out-btn">Log Out</a>
    <a href="/my_account" class="button-2-solid">My Account</a>  
  <% } else { %>
    <a href="/login" class="button-2-outline login-out-btn">Log In</a>  
    <a href="/sign_up" class="button-2-solid signup-btn">Sign Up</a>
  <% } %>
</header>

<script src="/javascripts/nav_highlight.js"></script>