<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
</head>

<body>
    <%- include('partials/header') %>
        <div class="container">
            <div class="col text-center my-5">
                <h1>HOME IMAGE GOES HERE</h1>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <div class="ps-auto pt-5">
                        <h2>Recipes</h2>
                    </div>
                </div>
                <div class="col-6">
                    <div class="px-5 pt-5">
                        <h4>Search bar goes here</h4>
                    </div>
                </div>
                <div class="col-4">
                    <div class="px-5 pt-5 text-end">
                        <h4>Sort by</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <div class="mt-2">
                        <a class="btn btn-dark rounded-pill" href="#" role="button">Breakfast</a>
                    </div>
                    <div class="mt-2">
                        <a class="btn btn-dark rounded-pill" href="#" role="button">Lunch</a>
                    </div>
                    <div class="mt-2">
                        <a class="btn btn-dark rounded-pill" href="#" role="button">Dinner</a>
                    </div>
                    <div class="mt-2">
                        <a class="btn btn-dark rounded-pill" href="#" role="button">Dessert</a>
                    </div>
                    <div class="mt-2">
                        <a class="btn btn-dark rounded-pill" href="#" role="button">Drinks</a>
                    </div>
                </div>
                <div class="col-6">
                    <div class="px-5 pt-5">
                        <h3>Recipe 1</h3>
                    </div>
                </div>
                <div class="col-4">
                    <div class="px-5 pt-5">
                        <h3>Recipe 2</h3>
                    </div>
                    <div class="px-5 pt-5">
                        <h3>Recipe 3</h3>
                    </div>
                </div>
            </div>
        </div>

        <%- include('partials/footer') %>
</body>

</html>