<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
    <title>Home | BYTE Recipes</title>
</head>

<body>
    <%- include('partials/header') %>
        <main class="wrapper">
            <div class="home-box-1" role="region">
                <p role="heading">Love</p>
                <p role="heading">Every</p>
                <p role="heading">Byte</p>
                <div>
                    <a href="/recipes/categories" class="button-muted">Categories
                    </a>
                </div>
            </div>
            <div class="home-box-2" role="region">
                <p role="heading">
                    Read All Of Our 
                    <span>
                        Best Recipes
                    </span>
                </p>
                <div>
                    <a href="/recipes" class="button-muted">Browse
                    </a>
                </div>
            </div>
            <div class="home-box-3" role="region">
                <p role="heading">
                    Fast, Simple & Easy
                </p>
                <p>
                    The perfect recipe collection without the boring backstory
                </p>
            </div>
        </main>
    <%- include('partials/footer') %>
</body>

</html>