<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
</head>

<body>
    <%- include('partials/header') %>
        <section class="wrapper">
            <div class="home-box-1">
                <p>Love</p>
                <p>Every</p>
                <p>Byte</p>
                <div>
                    <a href="/recipes" class="button-2-solid-grey">Categories
                    </a>

                </div>
            </div>
            <div class="home-box-2">
                <p>
                    Read All Of Our 
                    <span style="color: #F1A24C;">
                        Best Recipes
                    </span>
                </p>
                <div>
                    <a href="/recipes" class="button-2-solid">Browse
                    </a>
                </div>
            </div>
            <div class="home-box-3">
                <p>
                    Fast, Simple & Easy
                </p>
                <p>
                    The perfect recipe collection without the boring backstory
                </p>
            </div>
        </section>
    <%- include('partials/footer') %>
</body>

</html>