<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>
<%- include('../partials/header') %>

<body>
    <div class="error-container">
        <h1>404</h1>
        <p>Don't worry! Our recipes are still here, but it appears that one doesn't exist.</p>
        <a href="/recipes" class="button-muted">Got To Recipes</a>
    </div>

<%- include('../partials/footer') %>
</body>

</html>