<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>
<%- include('../partials/header') %>

<body>
    <div class="error-container">
        <h1>500</h1>
        <p>Oops! Something happened, try again later!</p>
        <a href="/recipes/categories" class="button-muted">Got To Categories</a>
    </div>

<%- include('../partials/footer') %>
</body>

</html>