.new-account-wrapper {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(2, auto);
    column-gap: 16px;
    row-gap: 16px;
    margin: 0rem 1.5rem 1.5rem 1.5rem;
}

.header-wrapper h1 {
    padding-bottom: 0.5rem;
}

.header-wrapper p {
    color: var(--blacks-900);
    font-family: var(--font-family);
    font-size: 1rem;
    font-style: var(--font-style);
    font-weight: 500;
    line-height: 1.5rem;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
}

.account-details-wrapper {
    display: flex;
    padding: 0rem 2rem 1.5rem 2rem;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 16px;
    background: var(--greys-000, #F8F8F8);
}

.user-recipe-wrapper,
.user-comment-wrapper {
    display: flex;
    width: 100%;
    padding: 0rem 2rem 1.5rem 2rem;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 16px;
    background: var(--greys-000, #F8F8F8);
}

.user-recipe-wrapper>p {
    color: var(--blacks-900);
    font-family: var(--font-family);
    font-size: 1rem;
    font-style: var(--font-style);
    font-weight: 500;
    line-height: 1.5rem;
    display: inline-flex;
    padding: 0rem;
    flex-direction: column;
    align-items: flex-start;
}

.user-recipe {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.user-comments {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.user-recipe-link {
    width: 65%;
}


.user-recipe-link,
.user-comment-text {
    display: flex;
    align-items: center;
    color: var(--blacks-900);
    font-family: var(--font-family);
    font-size: 1rem;
    font-style: var(--font-style);
    font-weight: 500;
    text-decoration: none;
    padding: 0rem;
    line-height: 1.5rem;
}

.test>p {
    width: 400px;
}

.test {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-recipe-buttons {
    gap: 1rem;
}

.user-recipe-buttons>button {
    border: none;
}

.edit-account {
    width: 100%;
    margin-bottom: 0.5rem;
}

.account-contact-wrapper,
.account-password-wrapper,
.account-recipe-wrapper,
.account-comment-wrapper {
    display: flex;
    margin-top: 1rem;
    width: 100%;
}

.account-buttons {
    margin-top: 1rem;
    display: flex;
    width: 100%;
    justify-content: end;
}

.account-buttons>button {
    border: none;
}

@media (min-width: 1200px) {

    .account-wrapper {
        grid-area: auto / 4 / auto / 11;
    }

    .account-wrapper {
        grid-area: auto / 4 / auto / 11;
    }
}

@media (min-width: 768px) {

    .account-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {

    .account-wrapper {
        grid-area: auto / 3 / auto / 12;
    }

    .account-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 767px) {

    .account-wrapper {
        grid-area: auto / 1 / auto / 14;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}