.main-bread-crumbs-wrapper {
    display: flex;
    height: 3rem;
    align-items: flex-start;
    gap: 1rem;
    border-radius: 1rem;
    margin: 1rem 1.5rem 1rem 1.5rem;
    background: var(--greys-000, #F8F8F8);
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.bread-crumb-list {
    height: inherit;
    padding: 0rem 2.5rem 0rem 2.5rem;
}

.bread-crumb-item {
    height: inherit;
    display: inline-flex;
    align-items: center;
}

.bread-crumb {
    display: inline-flex;
    text-decoration: none;
    font-family: var(--font-family);
    font-style: var(--font-style);
    font-weight: 600;
    font-size: 0.75rem;
    color: var(--blacks-900, #1C1C1E);
    align-items: center;
}

.bread-crumb::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='16' fill='%231C1C1E' viewBox='0 0 18 16'%3E%3Cpath d='M2.6514 0.941274C2.07094 0.452571 1.12567 0.449096 0.54007 0.933512C-0.0455266 1.41793 -0.0496906 2.2068 0.53077 2.6955L6.65415 7.85091L0.4969 12.9443C-0.0886971 13.4287 -0.0928605 14.2176 0.4876 14.7063C1.06806 15.195 2.01334 15.1985 2.59893 14.7141L9.81409 8.74553C10.3798 8.27757 10.4029 7.5255 9.88054 7.03437C9.8528 7.00657 9.82339 6.97953 9.7923 6.95336L2.6514 0.941274Z'%3E%3C/path%3E%3C/svg%3E");
    margin: 0rem 0.5rem 0rem 1rem;
}

.bread-crumb-list>li:last-of-type> ::after {
    display: none;
}