<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/header') %>
        <header class="container text-centered mt-5">
            <h1>Acconut</h1>
            <p>Everything relating to your account</p>
        </header>
        <br>
        <div class="container">

        </div>
        <%- include('../partials/footer') %>
</body>

</html>