<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/header') %>
        <Header class="container text-centered mt-5">
            <div class="col-4">
                <h1>Recipes</h1>
                <p>Submited by: </p>

            </div>
        </Header>
        
        <%= Recipes %> 

        <br>



        <%- include('../partials/footer') %>
</body>

</html>