<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/header') %>
        <header class="container text-centered mt-5">
            <h1>Submit your recipe to us</h1>
            <p>We're always looking for new and exciting recipies. Submit yours today!</p>
        </header>
        <br>
        <form action="/submit_recipe" class="container" method="POST">
            <div>
                <label for="r_title" class="form-label">Recipe Title</label>
                <input type="text" name="r_title" id="r_title" class="form-control" placeholder="Apple Strudel" required>
            </div>
            <div class="mt-4">
                <label for="num_serv" class="form-label">Number of Servings</label>
                <input type="number" name="num_serv" id="num_serv" class="form-control" placeholder="12" required>
            </div>
            <div class="mt-4">
                <label for="ingredients" class="form-label">Ingredients</label>
                <input type="text" name="ingredients" id="ingredients" class="form-control"
                    placeholder="1 cup whole wheat pastry flour" required>
            </div>
            <div class="mt-4">
                <label for="directions" class="form-label">Directions</label>
                <input type="text" name="directions" id="directions" class="form-control"
                    placeholder="Mix sugars together" required>
            </div>
            <div class="input-group mt-4">
                <input type="file" name="photos" id="photos" class="form-control">
            </div>
            <input type="submit" id="submit" value="Submit" class="btn btn-dark mt-4">
        </form>
        <%- include('../partials/footer') %>
</body>

</html>