<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    
    <script>
        tinymce.init({ 
            selector: "#description"
        });
    </script>
    
</head>

<body>
    <%- include('../partials/header') %>
        <header class="container text-centered mt-5">
            <h1>Submit your recipe to us</h1>
            <p>We're always looking for new and exciting recipies. Submit yours today!</p>
        </header>
        <br>
        <form action="/recipes/new" class="container" method="POST" enctype="multipart/form-data">
            <div>
                <label for="r_title" class="form-label">Recipe Title</label>
                <input type="text" name="r_title" id="r_title" class="form-control" placeholder="Apple Strudel" required>
            </div>
            <div class="mt-4">
                <label for="num_serv" class="form-label">Number of Servings</label>
                <input type="number" name="num_serv" id="num_serv" class="form-control" placeholder="12" required>
            </div>
                <label for="prep_time" class="form-label">Prep Time</label>
                <input type="number" name="prep_time" id="prep_time" class="form-control" placeholder="30 mins" required>
            </div>
                <label for="cook_time" class="form-label">Cook Time</label>
                <input type="number" name="cook_time" id="cook_time" class="form-control" placeholder="15 mins" required>
            </div>
            <div class="mt-4">
                <label for="description" class="form-label">Description</label>
                <input type="text" name="description" id="description" class="form-control"
                    placeholder="1 cup whole wheat pastry flour" required>
            </div>

            <div class="mt-4">
                <template id="ingredient-input-template">
                    <div class="input-group mb-3 ingredient-input-row">
                        <input type="text" name="amount" placeholder="Amount" class="form-control">
                        <select class="form-select" name="amount">
                            <option selected>Select unit</option>
                            <option value="1">tbsp</option>
                            <option value="2">tsp</option>
                            <option value="3">oz</option>
                            <option value="4">fl. oz</option>
                            <option value="5">cup</option>
                        </select>
                        <input type="text" class="form-control" placeholder="Ingredient" name="ingredient">
                    </div>
                </template>
                <div id="ingredientInputRows"></div>
                <button class="btn btn-dark mt-2" id="addIngredientBtn"> Add ingredient</button>
                <script>
                    const addIngredientBtn = document.getElementById('addIngredientBtn');
                    addIngredientBtn.addEventListener('click', e => {
                        addIngredientField();
                        e.preventDefault();
                    });

                    document.addEventListener('DOMContentLoaded', e => {
                        addIngredientField();
                    }, false);

                    function addIngredientField() {
                        const inputRows = document.getElementsByClassName('ingredient-input-row') || [];
                        const templateElement = document.getElementById('ingredient-input-template').content;
                        let ingredientInputRow = templateElement.cloneNode(true).querySelector('div');
                        console.log(ingredientInputRow);

                        Array.from(ingredientInputRow.children).forEach(input => {
                            const name = input.name;
                            input.name = nameString(inputRows.length, name);
                            console.log(input)
                        })

                        document.getElementById('ingredientInputRows').append(ingredientInputRow);
                    }

                    function nameString(index, fieldName) {
                        return `ingredients[${index}][${fieldName}]`;
                    }
                </script>
            </div>

            <div class="mt-4">
                <label for="directions" class="form-label">Directions</label>
                <input type="text" name="directions" id="directions" class="form-control"
                    placeholder="Mix sugars together" required>
            </div>
            <div class="input-group mt-4">
                <input type="file" name="photo" id="photo" class="form-control" accept=".png,.jpg,.jpeg,image/png,image/jpg,image/jpeg">
            </div>
            <input type="submit" id="submit" value="submit" class="btn btn-dark mt-4">
            
        </form>
        <%- include('../partials/footer') %>
</body>

</html>