<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>

    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({ 
            selector: "#description"
        });
    </script>
</head>

<body>
    <%- include('../partials/header') %>
    <div class="main-bread-crumbs-wrapper">
        <ol class="bread-crumb-list">
            <li class="bread-crumb-item"><a href="/" class="bread-crumb">Home</a></li>
            <li class="bread-crumb-item"><a href="/recipes/new" class="bread-crumb">Sumbit Recipe</a></li>
        </ol>
    </div>
    <main>
        <div class="new-recipe-wrapper">
            <header class="header-wrapper">
                <H2>Submit Your Recipe</H2>
                <p>Share with us some of your greatest creations</p>
            </header>
            <section class="recipe-wrapper">
                <form action="/recipes/new" method="post" class="create-recipe" enctype="multipart/form-data">
                    <section class="recipe-details-wrapper">
                        <h3>Recipe Details</h3>
                        <div class="input-field">
                            <label for="recipe-title">Title</label>
                            <input type="text" name="recipeTitle" class="normal-border" id="recipe-title">
                        </div>
                        <div class="input-field">
                            <label for="recipe-description">Description</label>
                            <input type="text" name="recipeDescription" class="normal-border" id="recipe-description">
                        </div>
                        <div class="input-three-fields">
                            <div class="input-field">
                                <label for="recipe-servings">Servings</label>
                                <input type="number" name="recipeServings" class="normal-border" id="recipe-servings">
                            </div>
                            <div class="input-field-two-fields">
                                <div class="input-field">
                                    <label for="recipe-prep-time">Prep Time</label>
                                    <input type="number" name="recipePrepTime" class="normal-border" id="recipe-prep-time">
                                </div>
                                <div class="input-field">
                                    <label for="recipe-cook-time">Cook Time</label>
                                    <input type="number" name="recipeCookTime" class="normal-border" id="recipe-cook-time">
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="recipe-ingredients-wrapper">
                        <h3>Ingredients</h3>
                        <template id="recipe-ingredients-input-template">
                            <div class="input-field-three-fields" id="ingredient-input">
                                <div class="input-field">
                                    <label for="ingredient-amount">Amount</label>
                                    <input type="number" name="ingredientAmount_" class="normal-border" id="ingredient-amount">
                                </div>
                                <div class="input-field">
                                    <label for="ingredient-unit">Unit</label>
                                    <select name="ingredientUnit_" id="ingredient-unit" class="normal-border">
                                        <option value="" default selected hidden>Select unit</option>
                                        <option value="1">tablespoon</option>
                                        <option value="2">teaspoon</option>
                                        <option value="3">ounce</option>
                                        <option value="4">fluid ounce</option>
                                        <option value="5">cup</option>
                                    </select>
                                </div>
                                <div class="input-field">
                                    <label for="ingredient">Ingredient</label>
                                    <input type="text" name="ingredient_" class="normal-border" id="ingredient">
                                </div>
                            </div>
                        </template>
                        <div id="ingredient-input-row"></div>
                        <div class="ingredient-buttons">
                            <button class="button-2-solid-grey" id="delete-ingredient-button">Delete Ingredient</button>
                            <button class="button-2-solid" id="add-ingredient-button">Add Ingredient</button>
                        </div>
                    </section>
                    <section class="recipe-directions-wrapper">
                        <h3>Directions</h3>
                        <template id="recipe-directions-input-template">
                            <div class="directions-input-field-two-fields" id="direction-input">
                                <div class="input-step" id="input-step">
                                    <p></p>
                                </div>
                                <div class="input-field">
                                    <input type="text" name="recipeDirection_" class="normal-border" id="recipeDirection">
                                </div>
                            </div>
                        </template>
                        <div id="direction-input-row"></div>
                        <div class="direction-buttons">
                            <button class="button-2-solid-grey" id="delete-step-button">Delete Step</button>
                            <button class="button-2-solid" id="add-direction-button">Add Step</button>
                        </div>
                    </section>
                    <section class="recipe-photos-wrapper">
                        <h3>Photos</h3>
                        <div class="file-selector-wrapper">
                            <div class="photo-input-row">
                                <span id="filesSelected"></span>
                            </div>
                            <div class="photo-buttons">
                                <button class="button-2-solid-grey" id="delete-photos-button">Delete Photo</button>
                                <label for="fileInput" class="button-2-solid">Select Photo</label>
                                <input type="file" hidden id="fileInput">
                            </div>
                        </div>
                    </section>
                    <section class="recipe-disclaimer-wrapper">
                        <p class="body-2">By submitting your recipe to us you understand that we are released of any and all liability. We retain the ability to modify or change the recipe, photos, etc. as we see fit.</p>
                    </section>
                    <div class="recipe-submit-button">
                        <button type="reset" class="button-2-solid-grey">Clear Form</button>
                        <button type="submit" class="button-2-solid">Submit Recipe</button>
                    </div>
                </form>
                
            </section>
        </div>
    </main>

        <!-- <br>
        <form action="/recipes/new" class="container" method="POST" enctype="multipart/form-data">
            <div class="mt-4">
                <template id="ingredient-input-template">
                    <div class="input-group mb-3 ingredient-input-row">
                        <input type="text" name="amount" placeholder="Amount" class="form-control">
                        <select class="form-select" name="unit">
                            <option selected>Select unit</option>
                            <option value="1">tbsp</option>
                            <option value="2">tsp</option>
                            <option value="3">oz</option>
                            <option value="4">fl. oz</option>
                            <option value="5">cup</option>
                        </select>
                        <input type="text" class="form-control" placeholder="Ingredient" name="ingredient">
                    </div>
                </template>
                <div id="ingredientInputRows"></div>
                <button class="btn btn-dark mt-2" id="addIngredientBtn">Add ingredient</button>
                <script>
                    const addIngredientBtn = document.getElementById('addIngredientBtn');
                    addIngredientBtn.addEventListener('click', e => {
                        addIngredientField();
                        e.preventDefault();
                    });

                    document.addEventListener('DOMContentLoaded', e => {
                        addIngredientField();
                    }, false);

                    function addIngredientField() {
                        const inputRows = document.getElementsByClassName('ingredient-input-row') || [];
                        const templateElement = document.getElementById('ingredient-input-template').content;
                        let ingredientInputRow = templateElement.cloneNode(true).querySelector('div');

                        Array.from(ingredientInputRow.children).forEach(input => {
                            const name = input.name;
                            input.name = nameString(inputRows.length, name);
                        });

                        document.getElementById('ingredientInputRows').append(ingredientInputRow);
                    }

                    function nameString(index, fieldName) {
                        return `ingredients[${index}][${fieldName}]`;
                    }
                </script>
            </div> -->

            <!-- <div class="mt-4">
                <template id="direction-step-template">
                    <label for="direction-input" id="direction-step-row"></label>
                </template>
                <template id="direction-input-template" name="direction-input">
                    <div class="input-group mb-3 direction-input-row">
                        <input type="text" name="directions" class="form-control">
                    </div>
                </template>
                <div id="directionInputRows"></div>
                <button class="btn btn-dark mt2" id="addDirectionBtn">Add step</button>
                <script>
                    const addDirectionBtn = document.getElementById('addDirectionBtn');
                    addDirectionBtn.addEventListener('click', e => {
                        addDirectionField();
                        e.preventDefault();
                    });

                    document.addEventListener('DOMContentLoaded', e => {
                        addDirectionField();
                    }, false);

                    let stepNumber = 1;
                    function addDirectionField() {
                        const inputRows = document.getElementsByClassName('direction-input-row') || [];
                        const directionInutTemplateElement = document.getElementById('direction-input-template').content;
                        let directionInputRow = directionInutTemplateElement.cloneNode(true).querySelector('div');

                        Array.from(directionInputRow.children).forEach(input => {
                            const name = input.name;
                            input.name = nameString(inputRows.length, name);
                        });

                        const stepRow = document.getElementById('direction-step-row') || [];
                        const directionStepTemplateElement = document.getElementById('direction-step-template').content;
                        let directionStepRow = directionStepTemplateElement.cloneNode(true).querySelector('label');
                        directionStepRow.innerText = `Step ${stepNumber++}`

                        document.getElementById('directionInputRows').append(directionStepRow, directionInputRow);
                    }

                    function nameString(index, fieldName) {
                        return `directions[${index}][${fieldName}]`;
                    }
                </script>
            </div>
            <div class="input-group mt-4">
                <input type="file" name="photo" id="photo" class="form-control" accept=".png,.jpg,.jpeg,image/png,image/jpg,image/jpeg">
            </div>
            <input type="submit" id="submit" value="submit" class="btn btn-dark mt-4">
        </form> -->
        <%- include('../partials/footer') %>

        <script src="/javascripts/new_recipe_input_fields.js"></script>
        <script src="/javascripts/new_recipe_photos.js"></script>
</body>

</html>